<script>
  import Nav from "../components/Nav.svelte";

  export let segment;
  const date = new Date().getFullYear();
</script>

<style>
  main {
    position: relative;
    max-width: 56em;
    background-color: white;
    padding: 2em;
    padding-top: 6rem;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .wrapper {
    min-height: calc(100vh - 6rem);
  }

  footer {
    height: 2rem;
    padding: 0;
    margin-top: 4rem;
  }

  footer p {
    text-align: center;
    font-size: 0.875rem;
    color: #555;
    padding: 0;
    margin: 0;
  }
</style>

<Nav {segment} />
<div class="wrapper">
  <main>
    <slot />
  </main>
</div>
<footer>
  <p>&copy; copyright {date} RocketParty</p>
</footer>
