<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`index.json`)
      .then(r => r.json())
      .then(posts => {
        return { posts };
      });
  }
</script>

<script>
  import dateFormat from "dateformat";

  export let posts;

  function makeDate(oDate) {
    return dateFormat(oDate, "mmmm, dS, yyyy");
  }
</script>

<style>
  li {
    list-style-type: none;
  }
  .container {
    max-width: 40rem;
    margin: 0 auto;
  }
  .post h2 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  .post h2 span {
    font-size: 1rem;
    font-weight: 400;
  }
  .post p {
    margin: 0;
  }
  .post {
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #dfdfe2;
    border-radius: 4px;
    background-color: #fff;
    text-decoration: none;
    display: block;
    transition: 0.3s;
  }
  .post:hover {
    background-color: #f0f0f0;
  }
  ul {
    margin: 0;
    margin-top: 1.25rem;
    padding: 0;
  }
  .page-header {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-header img {
    width: 50px;
    margin-right: 1rem;
  }
  .excerpt {
    font-size: 1rem;
    color: #585858;
  }
</style>

<svelte:head>
  <title>launchpad</title>
  <meta
    name="description"
    content="launchpad is a technical development blog from the creators of
    rocketparty.io" />
</svelte:head>
<div class="container">
  <div class="page-header">
    <img src="/saucer.svg" class="logo" alt="launchpad logo" />
    <h1>Launchpad</h1>
  </div>

  <ul>
    {#each posts as post}
      <li>
        <a rel="prefetch" href="/{post.slug}" class="post">
          <div>
            <h2>
              {post.title} -
              <span>{makeDate(post.date)}</span>
            </h2>
            <p class="excerpt">{post.description}</p>
          </div>
        </a>
      </li>
    {/each}
  </ul>
</div>
